@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat|Open+Sans|Raleway');
@import "header";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  font-weight: bold;
  color: black; 
  box-sizing: border-box;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

a:hover{
  color: #b4b4b4;
}

img {
  width: 50%;
  height: auto;
}

main {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

  .project-item {
    width: 45vw;
    margin: 0.6vw;

      .colorbox {
        background: #f2f2f2;
        position: relative;
        &:hover{
          img{
          opacity: .15;
          }
          div{
            opacity: 1;
          }
        } 
          img {
            width: 100%;
            height: 100%;
            display: block;    
          }
          div{
            position: absolute;
            top: 40%;
            width: 100%;
            left: 20;
            text-align: center;
            opacity: 0;
          }
      }
  }
  main h2{
    text-align: center;
    font-family: 'Raleway';
    font-size: 16pt;
    color: black;
  }
  
  main p{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 11pt;
    color: black;
  }

.pagecontainer{
  max-width: 1024px;
  margin: auto;
  padding: 1em 4em;
}

.titelbild {
  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
}

.projecttitle{
  text-align: left;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 3px;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.pagedescription{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.6;

  max-width: 700px;
  margin: auto;
  p{
    text-align: left;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 102px;
}