@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans|Raleway');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  font-weight: bold;
  color: black; 
  box-sizing: border-box;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

header h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 3vw;
  color: black;
}

header h2 {
  font-family: 'Cutive Mono';
  font-weight: normal;
  font-size: 1.15em;
  text-align: center;
  color: black;
  margin-bottom: 1em;
}

header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.colorfield{
  background: #f2f2f2;
  height: 50px;
  width: 70%;
  margin: auto;
  header p{
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    margin-top: 1vw;
    color: black;
  }
}

img {
  width: 50%;
  height: auto;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

  .project-item {
    width: 40vw;
    margin: 3vw;
      .colorbox {
        background: #f2f2f2;
        position: relative;
        &:hover{
          img{
          opacity: .35;
          }
          div{
            opacity: 1;
          }
        } 
          img {
            width: 100%;
            height: 100%;
            display: block;    
          }
          div{
            position: absolute;
            top: 35%;
            width: 100%;
            left: 20;
            text-align: center;
            opacity: 0;

            main h2{
              text-align: center;
              font-family: 'Raleway';
              font-weight: 200;
              font-size: 2vw;
              color: black;
            }
            
            main p{
              text-align: center;
              font-family: 'Raleway';
              font-weight: 100;
              font-size: 1vw;
              color: black;
            }
          }
      }
  }



